/** @format */
* {
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0px auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
}
h3 {
  font-weight: 700px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header div nav ul li a {
  color: #212121;
}
.header nav ul li a:hover {
  color: #2196f3;
}
.header div ul li a {
  color: #757575;
}
.header div ul li a:hover {
  color: #2196f3;
}
/* Второй блок  */

.main .menu li a {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  text-align: center;
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.menu ul {
  display: flex;
  gap: 50px;
}
.hed {
  display: flex;
}
.tel ul {
  display: flex;
}
header {
  display: flex;
  justify-content: center;
}
.title ul li {
  display: flex;
}
.title ul li {
}
.item ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.main .menu li a:hover {
  background-color: #2196f3;
  color: #fff;
}
.innet ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
