/** @format */
* {
  box-sizing: border-box;
}
body {
  /* max-width: 1600px;
  margin: 0 auto;
  padding: 0px 15px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
}
.conteiner {
  max-width: 1460px;
  margin: 0 auto;
}
h3 {
  font-weight: 700px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
}
.header div nav ul li a {
  color: #212121;
}
.header nav ul li a:hover {
  color: #2196f3;
}
.header div ul li a {
  color: #757575;
}
.header div ul li a:hover {
  color: #2196f3;
}
/* Второй блок  */
.menu {
  /* display: flex; */
}
/* .tel {
  display: ;
} */
.main .menu__tow li a {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  text-align: center;
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.item ul {
  display: flex;
  /* justify-content: center; */
  /* gap: 8px; */
}
.main .menu__tow li a:hover {
  background-color: #2196f3;
  color: #fff;
}
.innet ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: center; */
}
